* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 80px 120px;
}
body p {
    font-size: 15px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
.navbar_left {
    display: flex;
    align-items: center;
    /* gap: 90px; */
}
.navbar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}
.navbar__list a {
    text-decoration: none;
    color: hsl(240, 100%, 5%);
    font-size: 1rem;
    font-weight: 500;
    opacity: 0.7;
    transition: all 0.4s;

}
.navbar__list a:hover {
    opacity: 1;
    color: hsl(5, 85%, 63%);
}
.content {
    display: grid;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 20px;
}
.bloc__left {
    grid-area: 1 / 1 / 2 / 2;
    /* display: flex;
    flex-direction: column; */
    /* float: left; */
    /* gap: 20px; */
    /* width: 60%; */
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 10px; */
    width: 100%;
}
.title h1 {
    font-size: 50px;
    /* color: hsl(240, 100%, 5%); */
    font-weight: bold;
    /* width: 50%; */
}

.title_p button{
    padding: 10px;
    margin-top: 30px;
    width: 180px;
    text-align: center;
    background-color: hsl(5, 85%, 63%);
    cursor: pointer;
    font-size: 15px;
}
.title_p button:hover {
    color: #fff;
    background-color: hsl(240, 100%, 5%);
    transition: all 0.4s;
}
.bloc_right {
    padding: 30px;
    grid-area: 1 / 3 / 2 / 4;
    background-color: hsl(240, 100%, 5%);
    color: #fff;
}
.bloc_right h1 {
    color: hsl(35, 77%, 62%);
    font-size: 40px;
}
.bloc_right h2 {
    font-size: 20px;
    margin: 20px 0;
    cursor: pointer;
}
.bloc_right h2:hover {
    color: hsl(35, 77%, 62%);
    transition: all 0.4s;
}
.bloc_right p {
    letter-spacing: 0.1em;
}
hr {
    border: 1px solid ;
    /* width: 50%; */
    margin: 20px 0;
}
.footer {
    display: flex;
    gap: 10px;
    margin: 40px 0;
}
.first_bloc {
    display: flex;
    /* width: 30%; */
    gap: 25px;
}
.first_bloc img {
    width: 7.5rem;
    height: 7.5rem;
}

.second_bloc h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    cursor: pointer;
    transition: color 0.4s;
}
.second_bloc h2:hover {
    color: hsl(5, 85%, 63%);
}
.second_bloc p{
    
    font-size: 15px;
    width: 220px;
}

.second_bloc h1 {
    color: hsl(5, 85%, 63%);
}